.bruh {
    text-align: center;
    margin: 4%;
    color:rgb(161, 194, 161)
}
.flex {
    display: flex;
    justify-content: center;
    background-color: green;
    
}
.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.flexbox-item {
    width: 400px;
    margin: 10px;
    border: 3px hidden #333;
    background-color: #dfdfdf;
}
.flexbox-item-1 {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 3px hidden #333;
    background-color: #dfdfdf;
}
.flexbox-item-2 {
    width: 400px;
    margin: 10px;
    margin-left: 10%;
    height: 200px;
    border: 3px hidden #333;
    background-color: #dfdfdf;
}
* {
    margin: 0;
    padding: 0;
}